// primary
$primary: #59479e;
$newBlack: #1B1D22;

// #ffce54
$secondary: #4c485b;
$tertiary: #e8a603;

$gray1: #4B5563;
$gray2: #c8d1d9;
$gray3: #d1d5db;
$gray4:#F3F4F6 ;
$gray50: #f9fafb;

$black: #000000;
$white: #ffffff;
$green: #0E9F6E;

// text
$textWhite: #fff;
$textWhite2: #B7BBC1;
$textWhite3: #999;

$textDark: #231F20;
$textDark2: #5e5f62;
$textDark3: #9a9da3;
