@import 'src/@app/styles/variables';
@import 'src/@app/styles/mixins';

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: $desktopSmall) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;        
    }

    @media (max-width: $tablet) {
        grid-template-columns: 1fr;
        grid-gap: 16px;        
    }
}