@import 'src/@app/styles/variables';
@import 'src/@app/styles/mixins';

.List {
  max-height: 250px;
  overflow: auto;
  border: 1px solid $gray2;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 57px;
  margin: 0;
  list-style: none;
  padding: 0;
  background: #fff;
  z-index: 4;
}

.ToTop {
  bottom: 57px;
  top: auto;
}