@mixin from {
  opacity: 0;
  transform: translateY(80px);
}

@mixin to {
  opacity: 1;
  transform: translateY(0);
}

@keyframes menuAnimation {
  from {
    @include from;
  }
  to {
    @include to;
  }
}
