@import 'src/@app/styles/variables';
@import 'src/@app/styles/mixins';

.mainPage {
  width: 100%;

   @media (max-width: $tablet) {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5); // полупрозрачный белый фон
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); // для Safari
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.overlay {
  display: none;

  @media (max-width: $tablet) {
    display: block;
    height: 63px;    
  }
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  @media (max-width: $tablet) {
    padding: 18px 0;
  }
}

.logo {
  display: block;
  line-height: 0;
  margin-right: 48px;
  padding-bottom: 18px;

  @media (max-width: $tablet) {
    order: -1;
    margin: 0;
    padding: 0;
  }

  img {
    @media (max-width: 920px) {
      width: 80px;
      height: 27px;
    }
  }
}

.header_left {
  display: flex;
  align-items: center;
}


.nav {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
  }
}

.nav_mobile {
  display: flex;

  @media (max-width: $tablet) {
    display: none;
  }
}