@import 'src/@app/styles/variables';
@import 'src/@app/styles/mixins';

.Wrapper {
	position: relative;
}

.Input {
	padding: 0 12px;
	border: 1px solid $gray2;
	border-radius: 6px;
	height: 56px;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
}

.Open {
	.Down {
		transform: translateY(-50%) rotate(180deg);
	}
}

.Label {
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: $textDark2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 16px;
	transition: all 100ms ease-in-out;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	right: 45px;
	width: max-content;
	@media (min-width: $desktop) {
		width: auto;
	}

	@media (min-width: $desktop) {
		width: max-content;
	}

}

.LabelTop {
	transform: translateY(0);
	top: -10px;
	font-size: 11px;
	line-height: 20px;
	background-color: $white;
	padding: 0px 4px;
	// margin: 0 -5px;
}

.Value {
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	position: absolute;
	left: 16px;
	right: 40px;
	margin: 0;
	top: 16px;
	color: $textDark;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	//width: 100%;
}

.Down {
	// stroke: $gray;
	stroke: $primary;
	fill: none;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	transition-property: transform;
	transition-duration: 100ms;
}